<h1>Payment Results</h1>

<d1>
    <dt>APR</dt>
    <dd><%= @r %></dd>

    <dt>Number of years</dt>
    <dd><%= @years  %></dd>
    
    <dt>Principal</dt>
    <dd><%= @pv  %></dd>
    
    <dt>Payment</dt>
    <dd><%= @payment_formatted %></dd>

</d1>

<a href="/payment/new"><p>Calculate another payment</p></a>
